* {
    margin: 30px;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    font-family: 'Komika', sans-serif;
    background-color: #f7f2ef;
    font-family: Arial, sans-serif;
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 200px 80px;
    text-align: center;
}

.icono {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin: 20px 0;
}
