<div class="galeriaTatuajes">
    <div class="tattoo">
        <a href=""><img src="piercing/microdermal.PNG" alt="tatuador"></a>
        <p>Microdermal</p>
    </div>

    <div class="tattoo">
        <a href=""><img src="piercing/oreja.PNG" alt="tatuador"></a>
        <p>Piercing Orejas</p>
    </div>

    <div class="tattoo">
        <a href=""><img src="piercing/piercing.PNG" alt="tatuador"></a>
        <p>Piercing boca</p>
    </div>

    <div class="tattoo">
        <a href=""><img src="piercing/dilatacion.PNG" alt="tatuador"></a>
        <p>Dilataciones</p>
    </div>

    <div class="tattoo">
        <a href=""><img src="piercing/cara.PNG" alt="tatuador"></a>
        <p>Piercing Cara</p>
    </div>
</div>