<body>
    <header>
        <div class="logo">
            <img src="img/logo.png" alt="Icono">
            <h1>Not Alone</h1>
        </div>
        <nav>
            <ul>
                <li><a [routerLink]="['inicio']">Inicio</a></li>
                <li><a [routerLink]="['usuarias']">Usuarias</a></li>
                <li><a [routerLink]="['mapa']">Mapa</a></li>
                <li><a [routerLink]="['informacion']">Sobre Nosotras</a></li>
            </ul>
        </nav>
    </header>
</body>