* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edeeff;
    padding: 15px 20px;
    color: #805bd1;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

nav ul {
    list-style: none;
}

.botones {
    display: flex;
    align-items: center;
    gap: 25px;
}
.botones img {
    max-width: 25px;
    max-height: 30px;
}

