<div class="texto">
    <h2>Los tatuajes más reclamados 🥴</h2>
</div>
<div class="galeriaTatuajes">
    <div class="tattoo">
        <a [routerLink]="['../tatuaje']"><img src="tattoo/leon.PNG" alt="tatuador"></a>
        <p>Retratos</p>
    </div>

    <div class="tattoo">
        <a [routerLink]="['../tatuaje']"><img src="tattoo/anime.PNG" alt="tatuador"></a>
        <p>Anime</p>
    </div>

    <div class="tattoo">
        <a [routerLink]="['../tatuaje']"><img src="tattoo/areas.PNG" alt="tatuador"></a>
        <p>Áreas</p>
    </div>

    <div class="tattoo">
        <a [routerLink]="['../tatuaje']"><img src="tattoo/mandala.PNG" alt="tatuador"></a>
        <p>Mandala</p>
    </div>

    <div class="tattoo">
        <a [routerLink]="['../tatuaje']"><img src="tattoo/covers.PNG" alt="tatuador"></a>
        <p>Covers</p>
    </div>

    <div class="tattoo">
        <a [routerLink]="['../tatuaje']"><img src="tattoo/dibujo.PNG" alt="tatuador"></a>
        <p>Dibujos</p>
    </div>

    <div class="tattoo">
        <a [routerLink]="['../tatuaje']"><img src="tattoo/color.PNG" alt="tatuador"></a>
        <p>Color</p>
    </div>


    <div class="tattoo">
        <a [routerLink]="['../tatuaje']"><img src="tattoo/trashpolka.PNG" alt="tatuador"></a>
        <p>Trash Polka</p>
    </div>

    <div class="tattoo">
        <a [routerLink]="['../tatuaje']"><img src="tattoo/acuarela.PNG" alt="tatuador"></a>
        <p>Acuarela</p>
    </div>

    <div class="tattoo">
        <a [routerLink]="['../tatuaje']"><img src="tattoo/oldschool.PNG" alt="tatuador"></a>
        <p>Old Shcool</p>
    </div>
</div>