<div class="contenedor">
    <div class="contenedorFormulario">
        <form class="formulario">
            <span class="contacto">Accede a tu cuenta Athlenix</span>
            <div class="contenedorCajas">
                <input class="caja" type="text" name="name" placeholder="Dirección de correo electrónico" required>
            </div>

            <div class="contenedorCajas" data-validate="Constraseña">
                <input class="caja" type="password" name="password" placeholder="Contraseña" required>
            </div>
            
            <div class="contenedorBotones">
                <button class="boton">Iniciar sesión</button>
                <button class="boton">Registrarse</button>
            </div>
        </form>
    </div>
</div>