<div class="titulo">
    <h2>💉 Las perforaciones más pedidas</h2>
</div>
<div class="galeriaTatuajes">
    <div class="tattoo">
        <a [routerLink]="['../piercing']"><img src="piercing/microdermal.PNG" alt="tatuador"></a>
        <p>Microdermal</p>
    </div>

    <div class="tattoo">
        <a [routerLink]="['../piercing']"><img src="piercing/oreja.PNG" alt="tatuador"></a>
        <p>Piercing Orejas</p>
    </div>

    <div class="tattoo">
        <a [routerLink]="['../piercing']"><img src="piercing/piercing.PNG" alt="tatuador"></a>
        <p>Piercing boca</p>
    </div>

    <div class="tattoo">
        <a [routerLink]="['../piercing']"><img src="piercing/dilatacion.PNG" alt="tatuador"></a>
        <p>Dilataciones</p>
    </div>

    <div class="tattoo">
        <a [routerLink]="['../piercing']"><img src="piercing/cara.PNG" alt="tatuador"></a>
        <p>Piercing Cara</p>
    </div>
</div>