<div class="titulo">
    <h2>Conoce a nuestras usuarias</h2>
</div>
<div class="galeriaUsuarios">
    <div *ngFor="let service of servicio">
        <div class="perfil">
            <a [routerLink]="['../servicio',service.id]"><img src="{{ service.img }}"></a>
            <p>{{ service.nombre }}</p>
            <p>{{ service.nombre }}</p>
            <div class="valoracion">
                <img [src]="'img/' + service.pop" alt="Valoración">
            </div>
            <p class="estado">
                <span class="conexion">
                    <img *ngIf="service.ultvezconectada === 'En línea'" src="img/linea.png" alt="En línea">
                    <img *ngIf="service.ultvezconectada !== 'En línea'" src="img/ultvez.png" alt="Hace Xh">
                    {{ service.ultvezconectada }}
                </span>
            </p>
            <p>{{ service.ubi }}</p>
            <p>{{ service.desc }}</p>
            <p>{{ service.telefono }}</p>

            <button class="boton">
                <img src="img/mensaje.png" class="mensaje">Chatea conmigo
            </button>
        </div>
    </div>   
</div>

<!-- Botón para pasar página -->
<div class="boton-siguiente">
    <button class="siguiente">Siguiente</button>
</div>