<div class="body">
  <div class="contenedor">
    <h2>Ofertas de Empleo</h2>
    <form [formGroup]="form" (ngSubmit)="filtrarOfertas()">
      <div class="formulario">
        <div class="imagen">
          <img src="assets/img/lupa.png" alt="lupa">
          <label for="tipoTrabajo">Busque el empleo que desea</label>
        </div>
        <div class="contenedores">
          <input type="text" id="tipoTrabajo" formControlName="tipoTrabajo" placeholder="Tipo de trabajo: Abogada, Camarero" required/>
        </div>
        <div class="contenedores">
          <input type="text" id="ubicacion" formControlName="ubicacion" placeholder="Ubicación: Burjassot, Elche" required/>
        </div>
        <div class="contenedores">
          <input type="text" id="salario" formControlName="salario" placeholder="Salario: 2500€" required/>
        </div>
        <div class="contenedores">
          <input type="text" id="descripcion" formControlName="descripcion" placeholder="Descripción: 3 años de experiencia"/>
        </div>
      </div>
      <div class="formulario">
        <button type="button" (click)="filtrarOfertas()">Buscar Oferta</button>
      </div>
    </form>

    <!-- Mostrar las ofertas solo si la bandera está activa -->
    <div *ngIf="mostrarResultados" class="resultados">
      <h3>Ofertas Encontradas</h3>
      <ul *ngIf="ofertasFiltradas.length > 0; else sinResultados">
        <li *ngFor="let oferta of ofertasFiltradas">
          <strong>{{ oferta.tipoTrabajo }}</strong> en {{ oferta.ubicacion }} - Salario: {{ oferta.salario }}€
          <br />
          <em>{{ oferta.descripcion }}</em>
        </li>
      </ul>
      <ng-template #sinResultados>
        <p>No se encontraron ofertas que coincidan con los criterios de búsqueda.</p>
      </ng-template>
    </div>
  </div>
</div>
