<div class="contenido">
    <div class="columnas">
        <div class="perfil">
            <img src="artista/jessica.jpg" alt="perfil-jessica">
        </div>
        
        <div class="descripcion">
            <p>Jessica lleva muchísimo tiempo con nosotros en el estudio. Sus obras han hecho que la gente 
            tenga su tatuaje soñado plasmado en su piel. Los colores que implementa hace que sea toda una obra 
            maestra. Si tienes pensado realizarte un tatuaje con Jessica, ¡no lo dudes!. Te dejamos su contacto, las 
            obras que ha hecho y algunos diseños que tiene disponible.
            </p>
        </div>

        <div class="imaganes-tatuajes">
            <img src="artista/tatuajes-jessica/tatuaje1.jpg" alt="tatuaje1">
            <img src="artista/tatuajes-jessica/tatuaje2.jpg" alt="tatuaje2">
            <img src="artista/tatuajes-jessica/tatuaje3.jpg" alt="tatuaje3">
            <img src="artista/tatuajes-jessica/tatuaje4.jpg" alt="tatuaje4">
            <img src="artista/tatuajes-jessica/tatuaje5.jpg" alt="tatuaje5">
            <img src="artista/tatuajes-jessica/tatuaje6.jpg" alt="tatuaje6">

            <img src="artista/tatuajes-jessica/diseño1.jpg" alt="diseño1">
            <img src="artista/tatuajes-jessica/diseño2.jpg" alt="diseño2">
            <img src="artista/tatuajes-jessica/diseño3.jpg" alt="diseño3">
            <img src="artista/tatuajes-jessica/diseño4.jpg" alt="diseño4">
            <img src="artista/tatuajes-jessica/diseño5.jpg" alt="diseño5">
            <img src="artista/tatuajes-jessica/diseño6.jpg" alt="diseño6">
        </div>
    </div>
</div>