<div class="descripcion-image-container">
    <img src="assets/img/personas_deportivas.png" alt="Imagen Descripción">
</div>

<h1 class="encabezado">¡Explora lo mejor de Athlenix!</h1>

<div class="descripcion">
    <img src="assets/img/zapatillas.jpg" alt="zapatilla" class="zapatillas">
    <p class="parrafo">En Athlenix, sabemos que cada paso cuenta en el camino hacia tus metas deportivas. Nuestra
        tienda está diseñada para ofrecerte todo lo que necesitas para mejorar tu rendimiento, desde ropa y calzado
        hasta equipamiento de la mejor calidad. Explora nuestra amplia gama de productos seleccionados especialmente
        para ayudarte a alcanzar tus metas, sin importar si estás comenzando o eres un atleta experimentado.</p>
</div>

<div class="galeriaFotos">
    <div class="producto">
        <img src="assets/img/camisetaRebook.png" alt="camisetaRebook">
        <p><b>Camiseta Burnout</b></p>
        <p>Color: Dynamic Red</p>
        <p class="precio">18,00€</p>
        <button>Comprar</button>
    </div>

    <div class="producto">
        <img src="assets/img/camisetaPumaNegra.png" alt="camisetaPuma">
        <p><b>Camiseta Estampada</b></p>
        <p>Color: Black</p>
        <p class="precio">19,90€</p>
        <button>Comprar</button>
    </div>

    <div class="producto">
        <img src="assets/img/camisetaPumaRosa.png" alt="camisetaPuma">
        <p><b>Polo Active</b></p>
        <p>Color: Bridal Rose</p>
        <p class="precio">69,00€</p>
        <button>Comprar</button>
    </div>

    <div class="producto">
        <img src="assets/img/camisetaNewBalanceAzul.png" alt="camisetaNewBalance">
        <p><b>New Balance Small</b></p>
        <p>Color: Azul</p>
        <p class="precio">25,60€</p>
        <button>Comprar</button>
    </div>

    <div class="producto">
        <img src="assets/img/camisetaNewBalance.png" alt="camisetaNewBalance">
        <p><b>New Balance Core</b></p>
        <p>Color: Rojo</p>
        <p class="precio">23,80€</p>
        <button>Comprar</button>
    </div>
</div>

<div class="galeriaDeportivas">
    <button class="btn-prev" onclick="scrollLeft()">&#9664;</button>
    <div class="producto-container">
        <img src="assets/img/newbalance.png" alt="newbalance">
        <img src="assets/img/nike.png" alt="nike">
        <img src="assets/img/adidas.png" alt="adidas">
        <img src="assets/img/asics.png" alt="asics">
        <img src="assets/img/nikeMC.png" alt="nikeMC">
        <img src="assets/img/adidasTerrex.png" alt="adidasTerrex">
        <img src="assets/img/nikeDownshifter.png" alt="nikeDownshifter">
    </div>
    <button class="btn-next" onclick="scrollRight()">&#9654;</button>
</div>
