<div class="galeriaCamisetas">
    <div class="imagen">
        <img src="assets/img/chandalAdidas.png" alt="adidas">
        <p>Adidas 3 Bandas</p>
        <p>Chándal Felpa Hombre</p>
        <p>74,99€</p>
    </div>
    <div class="imagen">
        <img src="assets/img/chandalNikeHombre.png" alt="nike">
        <p>Nike Academy</p>
        <p>Chandal Hombre</p>
        <p>79,99€</p>
    </div>
    <div class="imagen">
        <img src="assets/img/chandalReebok.png" alt="nike">
        <p>Reebok Ri</p>
        <p>Chandal Hombre</p>
        <p>49,99€</p>
    </div>
    <div class="imagen">
        <img src="assets/img/chandalMadrid.png" alt="jones">
        <p>Chándal Real Madrid</p>
        <p>Chándal Fútbol Hombre</p>
        <p>104,99€</p>
    </div>
    <div class="imagen">
        <img src="assets/img/chandalBarce.png" alt="qatar">
        <p>Chándal Fc Barcelona 24/25</p>
        <p>Conjunto Fútbol Hombre</p>
        <p>139,99€</p>
    </div>

    <div class="imagen">
        <img src="assets/img/chandalAdidasMujer.png" alt="chandal">
        <p>Adidas 3s</p>
        <p>Chándal Capucha Mujer</p>
        <p>89,99€</p>
    </div>
    <div class="imagen">
        <img src="assets/img/chandalReebokMujer.png" alt="blanco">
        <p>Chándal Reebok</p>
        <p>Chándal Mujer</p>
        <p>49,99€</p>
    </div>
    <div class="imagen">
        <img src="assets/img/chandalFila.png" alt="nike">
        <p>Fila Gala</p>
        <p>Chandal Mujer</p>
        <p>34,99€</p>
    </div>
    <div class="imagen">
        <img src="assets/img/chandalFutbol.png" alt="reebok">
        <p>Nike Academy 23</p>
        <p>Chándal Fútbol Mujer</p>
        <p>44,99€</p>
    </div>
    <div class="imagen">
        <img src="assets/img/chandalPumaMujer.png" alt="adidas">
        <p>Chándal Puma</p>
        <p>Chándal Mujer</p>
        <p>39,99€</p>
    </div>
</div>
