<link rel="stylesheet" href="header.component.css">
<div class="navbar">
  <a href="#"><img src="assets/img/LogoAthlenix.png" alt="logo" class="logo"></a>
  <ul>
    <li><a href="camisetas">Camisetas</a></li>
    <li><a href="deportivas">Deportivas</a></li>
    <li><a href="chandals">Chandals</a></li>
  </ul>
  <div class="user-icons">
    <a href="usuario"><img src="assets/img/usuario.png" alt="user" class="user"></a>
    <a href="corazon"><img src="assets/img/corazon.png" alt="heart" class="user"></a>
    <a href="carro"><img src="assets/img/carrito.png" alt="carro" class="user"></a>
  </div>
</div>