<div class="galeriaCamisetas">
    <div class="imagen">
        <img src="assets/img/camisetaConverse.png" alt="converse">
        <p>Converse Star Chevron</p>
        <p>Camiseta Algodón Hombre</p>
        <p>22,99€</p>
    </div>
    <div class="imagen">
        <img src="assets/img/camisetaAmarilla.png" alt="puma">
        <p>Camiseta Puma</p>
        <p>Camiseta Algodón Hombre</p>
        <p>22,99€</p>
    </div>
    <div class="imagen">
        <img src="assets/img/camisetaJustDoIt.png" alt="nike">
        <p>Camiseta Nike</p>
        <p>Camiseta Running Hombre</p>
        <p>34,99€</p>
    </div>
    <div class="imagen">
        <img src="assets/img/camisetaJackJones.png" alt="jones">
        <p>Jack & Jones Branding</p>
        <p>Camiseta Algodón Hombre</p>
        <p>9,99€</p>
    </div>
    <div class="imagen">
        <img src="assets/img/camisetaQatar.png" alt="qatar">
        <p>Camiseta Psg Fc Entreno 24/25</p>
        <p>Futbol Hombre</p>
        <p>49,99€</p>
    </div>
    <div class="imagen">
        <img src="assets/img/chandalNike.png" alt="chandal">
        <p>Nike One</p>
        <p>Camiseta Running Mujer</p>
        <p>34,99€</p>
    </div>
    <div class="imagen">
        <img src="assets/img/chandalBlanco.png" alt="blanco">
        <p>Project X Paris Corazon</p>
        <p>Camiseta Mujer</p>
        <p>19,99€</p>
    </div>
    <div class="imagen">
        <img src="assets/img/camisetaNike.png" alt="nike">
        <p>Camiseta Nike</p>
        <p>Camiseta Mujer</p>
        <p>29,99€</p>
    </div>
    <div class="imagen">
        <img src="assets/img/camisetaReebok.png" alt="reebok">
        <p>Camiseta Reebok</p>
        <p>Camiseta Mujer</p>
        <p>14,99€</p>
    </div>
    <div class="imagen">
        <img src="assets/img/camisetaAdidas.png" alt="adidas">
        <p>Camiseta Adidas</p>
        <p>Camiseta Algodón Mujer</p>
        <p>29,99€</p>
    </div>
</div>
