<div class="galeriaArtistas">
    <div class="perfil">
        <img src="artistas/jessica.jpg" alt="tatuador">
        <p>Jesica</p>
        <p>Especializada en: Tradicional a color/negro y blackwork</p>
        <p>jesica_36</p>
    </div>

    <div class="perfil">
        <img src="artistas/ana.jpg" alt="tatuador">
        <p>Ana</p>
        <p>Especializada en: Microrealismo, Fineline y Blackwork</p>
        <p>anaplaza.tattoo</p>
    </div>

    <div class="perfil">
        <img src="artistas/joni.jpg" alt="tatuador">
        <p>Joni</p>
        <p>Especializado en: Realismo y microrealismo</p>
        <p>badblood13tattoo</p>
    </div>

    <div class="perfil">
        <img src="artistas/jota.jpg" alt="tatuador">
        <p>Jota</p>
        <p>Especializado en: Blackwork, Dotwork e Ilustración</p>
        <p>13tattooer</p>
    </div>
</div>